# Environment variables (Crucial for Security!)
.env

# Python junk
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Database & Instance folders
*.db
*.sqlite3
instance/

# IDE & OS
.vscode/
.DS_Store